<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Meet our team</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-12">
				</div>
				<div class="col-sm-4">
					<article>
						<div class="boxContent color4">
							<h3>Alexander Chen</h3>
							<a href="mailto:chen.alex@berkeley.edu">chen.alex@berkeley.edu</a>
						</div>
					</article>
				</div>
				<div class="col-sm-4">
					<article>
						<div class="boxContent color4">
							<h3>Gerald Green</h3>
							<a href="mailto:geraldgreen@berkeley.edu">geraldgreen@berkeley.edu</a>
						</div>
					</article>
				</div>
				<div class="col-sm-4">
					<article>
						<div class="boxContent color4">
							<h3>Jiachen Jiang</h3>
							<a href="mailto:jfantasy@berkeley.edu ">jfantasy@berkeley.edu </a>
						</div>
					</article>
				</div>
				<div class="col-sm-4">
					<article>
						<div class="boxContent color4">
							<h3>Kaiqi Cen</h3>
							<a href="mailto:cenkaiqi@gmail.com">cenkaiqi@gmail.com</a>
						</div>
					</article>
				</div>
				<div class="col-sm-4">
					<article>
						<div class="boxContent color4">
							<h3>Sijia Liu</h3>
							<a href="mailto:liusijia@berkeley.edu">liusijia@berkeley.edu</a>
						</div>
					</article>
				</div>
				<div class="col-sm-4">
					<article>
						<div class="boxContent color4">
							<h3>Zhuoyong Jing</h3>
							<a href="mailto:jzyBerkeley@gmail.com">jzyBerkeley@gmail.com </a>
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>
</div>

