
<div class="row">
  <div class ="header-description">
    <h2>
      Welcome to Neptus Blueprint!
    </h2>

    <div class="col-lg-4">

      <h2><span class ="glyphicon glyphicon-stats"></span> <%= link_to "Job Outlook", main_app.outlook_path%></h2>
      <h3>Determine your path and discover possible career oppstounities. Blueprint identifies popular college majors and carrers and displays median earnings.</h3>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <h2><span class ="glyphicon glyphicon-road"></span> <%= link_to "Blueprint", main_app.profile_path%></h2>
      <h3>Easily keep track of the next steps to reach your graduation with ease. Blueprint makes it easy with a requirements overview and suggested courses.</h3>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <h2><span class ="glyphicon glyphicon-comment"></span> <%= link_to "Forum", forem.root_path %></h2>
      <h3>Still undecided? Harness the knowledge of your peers and discuss your considerations with other students at your campus.</h3>
    </div><!-- /.col-lg-4 -->
  </div>
</div>

<div class ="header-description">
  <a class="header-btn" href="/users/sign_in">Join now</a>
</div>

