<h2><span class="label label-info">Name</span></h2>
<h2><span class="label label-info">College</span></h2>
<h2><span class="label label-info">Entrance Year</span></h2>
<h2><span class="label label-info">Expected year of Graduation</span></h2>
<h2><span class="label label-info">Major</span></h2>
<h2><span class="label label-info">BluePrint</span></h2>
