<div class="container">

  <div class="row">
    <div class="col-md-8">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                University Requirement
              </a>
            </h3>
          </div>
          <div class="progress progress-striped active">
            <div class="progress-bar"  role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
              <span class="sr-only">50% Complete</span>
            </div>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-6">
                  <h4><input type="checkbox">
                    Entry-Level Writing Satisfied</h4>
                  <h4><input type="checkbox">
                    American History and Institutions Satisfied</h4>                 
                </div><!-- /.col-lg-6 -->
              </div>
            </div>
          </div>
        </div>  

        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                Campus Requirement
              </a>
            </h2>
          </div>
          <div class="progress progress-striped active">
            <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              <span class="sr-only">100% Complete</span>
            </div>
          </div>    
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-6">
                  <h4><input type="checkbox">
                    American Cultures Satisfied</h4>
                </div><!-- /.col-lg-6 -->
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                College Requirement
              </a>
            </h2>
          </div>
          <div class="progress progress-striped active">
            <div class="progress-bar"  role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: 35%">
              <span class="sr-only">35% Complete</span>
            </div>
          </div>    
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-9">
                  <h4><input type="checkbox">Reading & Composition Requirements Satisfied</h4>
                  <h4><input type="checkbox">Quantitative Reasoning Requirements Satisfied</h4>
                  <h4><input type="checkbox">Foreign Language Requirements Satisfied</h4>
                  <div class="col-lg-9">
                    <h4>Seven Breath Requirements</h4>
                      <h5><input type="checkbox">Arts and Literature Satisfied</h5>
                      <h5><input type="checkbox">Biological Science Satisfied</h5>
                      <h5><input type="checkbox">Historical Studies Satisfied</h5>
                      <h5><input type="checkbox">International Studies Satisfied</h5>           
                      <h5><input type="checkbox">Philosophy and Values Satisfied</h5>     
                      <h5><input type="checkbox">Physical Science Satisfied</h5>
                      <h5><input type="checkbox">Social and Behavioral Sciences Satisfied</h5>
                  </div>
                </div><!-- /.col-lg-6 -->
              </div>
            </div>
          </div> 
        </div>   
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    </div>  
    <div class="col-md-2">
      <div class="list-group">
        <h5><span class="list-group-item">Name</span></h5>
        <h5><span class="list-group-item">College</span></h5>
        <h5><span class="list-group-item">Entrance Year</span></h5>
        <h5><span class="list-group-item">Expected year of Graduation</span></h5>
        <h5><span class="list-group-item">Major</span></h5>
        <h5><span class="list-group-item">BluePrint</span></h5>
    </div>

  </div>

</div>












