<div class="container">
	<div class="row">
		<div class="col-md-15">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Your Report</h3>
				</div>
				<div class="panel-body">
					<table class="table table-striped">
						<th>
							Course Name
						</th>
						<!-- Fufill which requirements? -->

						<% @courses.each do |course| %>
						<tr> 
							<td><%= course.name %></td>
						</tr>
						<% end %>
					</table>
					<table class ="table table-striped"> 
						<th> Major Course Name</th>

						<% @major_courses.each do |course| %>
						<tr><td><%= course.name  if course.present?%></td></tr>
						<% end %>
					</table>
					<br>
				</div>
			</div>
		</div>
	</div>
</div>
