// Place all the styles related to the MajorSelect controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('http://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css');




body {
font: 16px/1 'Lato', sans-serif;
padding-top: 60px;
padding-bottom: 40px;

background-image: url(/bg.jpg);
background-repeat: no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
background-size:cover;
width: 100%;
}
.nav li {
padding-top: 5px;
}

.leaderboard {
padding: 60px;
margin-bottom: 30px;
background-image: url('/twitter-bootstrap/images/gridbg.gif');
background-repeat:repeat;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}
.leaderboard h1 {
font-size: 40px;
margin-bottom: 5px;
line-height: 1;
letter-spacing: -1px;
color:#FF6600;
}
.leaderboard h2 {
font-size: 24px;
font-weight: 200;
line-height: 27px;
}
.leaderboard p {
font-size: 18px;
font-weight: 200;
line-height: 27px;
}
