<!DOCTYPE html>
<html>
<head>
  <title>Neptus</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>



  <div class="container">
  
  <div class="leaderboard">
  <h1>Welcome to Neptus Blueprint</h1>
  <p>We will help you choose the classes that you will enjoy</p>
   <%= yield %>
  </div>


  <hr>
  <footer>
  <p>Created by Kaiqi Cen, Sijia Liu, Zhuoyong Jing, Jiachen Jiang, Alexander Chen</p>
  </footer>
  </div> <!-- /container -->

</body>
</html>
