<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="style.css" rel="stylesheet" type="text/css" />
<link href="layout.css" rel="stylesheet" type="text/css" />
<link href="icc.css" rel="stylesheet" type="text/css" />
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
<!-- <script src="monitor.js"></script> -->
<script>
	// jQuery.monitor.page( true );
</script>
<script>


</script>
</head>
<body id="page1">
<div class="site_center">
	<!-- header  -->
	<div class="bg_logo"><img src="images/logo.png" alt="logo" /></div>
<div class="menu">
			
			<ul class="navigation">
				<li><a href="#">What is this?</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">About us</a></li>
				<li><a href="#">Add a college</a></li>
			</ul>
	</div>
	<!-- content -->
	<div class="content">
								<!--left_col-->
		<div class="col_1">
			<div class="extra_left">
				<label for="some">College:</label>
				<select name="some" class="main_select">

					<option value="Academy of Art University">Academy of Art University</option>
					<option value="Alliant International University">Alliant International University</option>
					<option value="American Conservatory Theater">American Conservatory Theater</option>
					<option value="American Film Institute">American Film Institute</option>
					<option value="American Jewish University">American Jewish University</option>
					<option value="Antioch University–Los Angeles">Antioch University–Los Angeles</option>
					<option value="Antioch University–Santa Barbara">Antioch University–Santa Barbara</option>
					<option value="Art Center College of Design">Art Center College of Design</option>
					<option value="Azusa Pacific University">Azusa Pacific University</option>
					<option value="Bethesda University of California">Bethesda University of California</option>
					<option value="Biola University">Biola University</option>
					<option value="Brandman University">Brandman University</option>
					<option value="California Baptist University">California Baptist University</option>
					<option value="California College of the Arts">California College of the Arts</option>
					<option value="California Institute of the Arts">California Institute of the Arts</option>
					<option value="California Institute of Integral Studies">California Institute of Integral Studies</option>
					<option value="California Institute of Technology">California Institute of Technology</option>
					<option value="California Lutheran University">California Lutheran University</option>
					<option value="California State University System">California State University System</option>
					<option value="Bakersfield">Bakersfield</option>
					<option value="California Maritime Academy">California Maritime Academy</option>
					<option value="California Polytechnic State University, San Luis Obispo">California Polytechnic State University, San Luis Obispo</option>
					<option value="California State Polytechnic University, Pomona">California State Polytechnic University, Pomona</option>
					<option value="Channel Islands">Channel Islands</option>
					<option value="Chico">Chico</option>
					<option value="Dominguez Hills">Dominguez Hills</option>
					<option value="East Bay">East Bay</option>
					<option value="Fresno">Fresno</option>
					<option value="Fullerton">Fullerton</option>
					<option value="Long Beach">Long Beach</option>
					<option value="Los Angeles">Los Angeles</option>
					<option value="Monterey Bay">Monterey Bay</option>
					<option value="Northridge">Northridge</option>
					<option value="Sacramento">Sacramento</option>
					<option value="San Bernardino">San Bernardino</option>
					<option value="San Marcos">San Marcos</option>
					<option value="Stanislaus">Stanislaus</option>
					<option value="Humboldt State University">Humboldt State University</option>
					<option value="San Diego State University">San Diego State University</option>
					<option value="San Francisco State University">San Francisco State University</option>
					<option value="San José State University">San José State University</option>
					<option value="Sonoma State University">Sonoma State University</option>
					<option value="Chapman University">Chapman University</option>
					<option value="Charles R. Drew University of Medicine & Science">Charles R. Drew University of Medicine & Science</option>
					<option value="Church Divinity School of the Pacific">Church Divinity School of the Pacific</option>
					<option value="Claremont Consortium of Colleges">Claremont Consortium of Colleges</option>
					<option value="Claremont Graduate University">Claremont Graduate University</option>
					<option value="Claremont McKenna College">Claremont McKenna College</option>
					<option value="Harvey Mudd College">Harvey Mudd College</option>
					<option value="Keck Graduate Institute of Applied Life Sciences">Keck Graduate Institute of Applied Life Sciences</option>
					<option value="Pitzer College">Pitzer College</option>
					<option value="Pomona College">Pomona College</option>
					<option value="Scripps College">Scripps College</option>
					<option value="Claremont School of Theology">Claremont School of Theology</option>
					<option value="Cogswell Polytechnical College">Cogswell Polytechnical College</option>
					<option value="Concordia University–Irvine">Concordia University–Irvine</option>
					<option value="DeVry University–Long Beach">DeVry University–Long Beach</option>
					<option value="DeVry University–Pomona">DeVry University–Pomona</option>
					<option value="Dominican School of Philosophy & Theology">Dominican School of Philosophy & Theology</option>
					<option value="Dominican University of California">Dominican University of California</option>
					<option value="Fashion Institute of Design & Merchandising">Fashion Institute of Design & Merchandising</option>
					<option value="Fielding Graduate University">Fielding Graduate University</option>
					<option value="Franciscan School of Theology">Franciscan School of Theology</option>
					<option value="Fresno Pacific University">Fresno Pacific University</option>
					<option value="Fuller Theological Seminary">Fuller Theological Seminary</option>
					<option value="Golden Gate Baptist Theological Seminary">Golden Gate Baptist Theological Seminary</option>
					<option value="Golden Gate University">Golden Gate University</option>
					<option value="Graduate Theological Union">Graduate Theological Union</option>
					<option value="Hebrew Union College-Jewish Institute of Religion">Hebrew Union College-Jewish Institute of Religion</option>
					<option value="Holy Names University">Holy Names University</option>
					<option value="Hope International University">Hope International University</option>
					<option value="Humphreys College">Humphreys College</option>
					<option value="Irell & Manella Graduate School of Biological Sciences">Irell & Manella Graduate School of Biological Sciences</option>
					<option value="John F. Kennedy University">John F. Kennedy University</option>
					<option value="La Sierra University">La Sierra University</option>
					<option value="Laguna College of Art & Design">Laguna College of Art & Design</option>
					<option value="Life Pacific College">Life Pacific College</option>
					<option value="Loma Linda University">Loma Linda University</option>
					<option value="Loyola Marymount University">Loyola Marymount University</option>
					<option value="Marymount California University">Marymount California University</option>
					<option value="The Master's College">The Master's College</option>
					<option value="The Master's Seminary">The Master's Seminary</option>
					<option value="Menlo College">Menlo College</option>
					<option value="Mills College">Mills College</option>
					<option value="Mount Saint Mary's College">Mount Saint Mary's College</option>
					<option value="National Hispanic University">National Hispanic University</option>
					<option value="National University">National University</option>
					<option value="Naval Postgraduate School">Naval Postgraduate School</option>
					<option value="Notre Dame de Namur University">Notre Dame de Namur University</option>
					<option value="Occidental College">Occidental College</option>
					<option value="Olivet University">Olivet University</option>
					<option value="Otis College of Art & Design">Otis College of Art & Design</option>
					<option value="Pacific Oaks College">Pacific Oaks College</option>
					<option value="Pacific School of Religion">Pacific School of Religion</option>
					<option value="Pacific Union College">Pacific Union College</option>
					<option value="Pacifica Graduate Institute">Pacifica Graduate Institute</option>
					<option value="Palo Alto University">Palo Alto University</option>
					<option value="Pardee RAND Graduate School">Pardee RAND Graduate School</option>
					<option value="Patten University">Patten University</option>
					<option value="Pepperdine University">Pepperdine University</option>
					<option value="Phillips Graduate Institute">Phillips Graduate Institute</option>
					<option value="Point Loma Nazarene University">Point Loma Nazarene University</option>
					<option value="Saint John's Seminary">Saint John's Seminary</option>
					<option value="Saint Mary's College of California">Saint Mary's College of California</option>
					<option value="Saint Patrick's Seminary & University">Saint Patrick's Seminary & University</option>
					<option value="Samuel Merritt University">Samuel Merritt University</option>
					<option value="San Diego Christian College">San Diego Christian College</option>
					<option value="San Francisco Art Institute">San Francisco Art Institute</option>
					<option value="San Francisco Conservatory of Music">San Francisco Conservatory of Music</option>
					<option value="San Francisco Theological Seminary">San Francisco Theological Seminary</option>
					<option value="San Joaquin College of Law">San Joaquin College of Law</option>
					<option value="Santa Clara University">Santa Clara University</option>
					<option value="Saybrook University">Saybrook University</option>
					<option value="Scripps Research Institute">Scripps Research Institute</option>
					<option value="Simpson University">Simpson University</option>
					<option value="Sofia University">Sofia University</option>
					<option value="Soka University of America">Soka University of America</option>
					<option value="Southern California College of Optometry">Southern California College of Optometry</option>
					<option value="Southern California Institute of Architecture">Southern California Institute of Architecture</option>
					<option value="Southern California University of Health Sciences">Southern California University of Health Sciences</option>
					<option value="Stanford University">Stanford University</option>
					<option value="Thomas Aquinas College">Thomas Aquinas College</option>
					<option value="Touro College Los Angeles">Touro College Los Angeles</option>
					<option value="Touro University California">Touro University California</option>
					<option value="Touro University Worldwide">Touro University Worldwide</option>
					<option value="Trident University International">Trident University International</option>
					<option value="United States University">United States University</option>
					<option value="University of California System">University of California System</option>
					<option value="Berkeley">Berkeley</option>
					<option value="Davis">Davis</option>
					<option value="Hastings College of the Law">Hastings College of the Law</option>
					<option value="Irvine">Irvine</option>
					<option value="Los Angeles">Los Angeles</option>
					<option value="Merced">Merced</option>
					<option value="Riverside">Riverside</option>
					<option value="San Diego">San Diego</option>
					<option value="San Francisco">San Francisco</option>
					<option value="Santa Barbara">Santa Barbara</option>
					<option value="Santa Cruz">Santa Cruz</option>
					<option value="University of La Verne">University of La Verne</option>
					<option value="University of the Pacific">University of the Pacific</option>
					<option value="University of Redlands">University of Redlands</option>
					<option value="University of San Diego">University of San Diego</option>
					<option value="University of San Francisco">University of San Francisco</option>
					<option value="University of Southern California">University of Southern California</option>
					<option value="University of the West">University of the West</option>
					<option value="Vanguard University of Southern California">Vanguard University of Southern California</option>
					<option value="Western State University College of Law">Western State University College of Law</option>
					<option value="Western University of Health Sciences">Western University of Health Sciences</option>
					<option value="Westminster Seminary California">Westminster Seminary California</option>
					<option value="Westmont College">Westmont College</option>
					<option value="Whittier College">Whittier College</option>
					<option value="William Jessup University">William Jessup University</option>
					<option value="Woodbury University">Woodbury University</option>
					<option value="The Wright Institute">The Wright Institute</option>
					
				</select>
			</div>
			<div class="extra_left">
				<label for="some">Major:</label>
				<select name="some" class="main_select">

					<option value="Aerospace Studies (ROTC)">Aerospace Studies (ROTC)</option>
					<option value="African American Studies">African American Studies</option>
					<option value="Agricultural and Resource Economics">Agricultural and Resource Economics</option>
					<option value="Air Force (ROTC)">Air Force (ROTC)</option>
					<option value="American Cultures">American Cultures</option>
					<option value="American Studies">American Studies</option>
					<option value="Ancient History and Mediterranean Archaeology">Ancient History and Mediterranean Archaeology</option>
					<option value="Anthropology">Anthropology</option>
					<option value="Applied Science and Technology Graduate Group">Applied Science and Technology Graduate Group</option>
					<option value="Architecture">Architecture</option>
					<option value="Army (ROTC)">Army (ROTC)</option>
					<option value="Art History">Art History</option>
					<option value="Art Practice">Art Practice</option>
					<option value="Arts & Humanities, College of Letters & Science Division">Arts & Humanities, College of Letters</option>
					<option value="Asian American Studies">Asian American Studies</option>
					<option value="Asian Studies">Asian Studies</option>
					<option value="Astronomy">Astronomy</option>
					<option value="Biochemistry, Comparative">Biochemistry, Comparative</option>
					<option value="Bioengineering">Bioengineering</option>
					<option value="Biological Sciences, College of Letters and Science Division of">Biological Sciences, College of Letters and Science Division of</option>
					<option value="Biology, Integrative">Biology, Integrative</option>
					<option value="Biology, Molecular and Cell">Biology, Molecular and Cell</option>
					<option value="Biology, Plant and Microbial">Biology, Plant and Microbial</option>
					<option value="Biophysics">Biophysics</option>
					<option value="Biostatistics">Biostatistics</option>
					<option value="Buddhist Studies">Buddhist Studies</option>
					<option value="Business">Business</option>
					<option value="Canadian Studies Program">Canadian Studies Program</option>
					<option value="Celtic Studies">Celtic Studies</option>
					<option value="Department of Chemical and Biomolecular Engineering">Department of Chemical and Biomolecular Engineering</option>
					<option value="Chemistry, College of">Chemistry, College of</option>
					<option value="Chemistry, Department of">Chemistry, Department of</option>
					<option value="Chicano Studies">Chicano Studies</option>
					<option value="City and Regional Planning">City and Regional Planning</option>
					<option value="Civil and Environmental Engineering">Civil and Environmental Engineering</option>
					<option value="Classics">Classics</option>
					<option value="Cognitive Science">Cognitive Science</option>
					<option value="College Writing Programs">College Writing Programs</option>
					<option value="Communications, Mass">Communications, Mass</option>
					<option value="Comparative Biochemistry">Comparative Biochemistry</option>
					<option value="Comparative Literature">Comparative Literature</option>
					<option value="Computer Science">Computer Science</option>
					<option value="Computational and Genomic Biology Graduate Program">Computational and Genomic Biology Graduate Program</option>
					<option value="Conservation Resource Studies">Conservation Resource Studies</option>
					<option value="Continuing Education (UC Berkeley Extension)">Continuing Education (UC Berkeley Extension)</option>
					<option value="Creative Writing">Creative Writing</option>
					<option value="Dance">Dance</option>
					<option value="Demography">Demography</option>
					<option value="Development Studies">Development Studies</option>
					<option value="Disability Studies">Disability Studies</option>
					<option value="Dramatic Art">Dramatic Art</option>
					<option value="Dutch Studies">Dutch Studies</option>
					<option value="Earth and Planetary Science">Earth and Planetary Science</option>
					<option value="East Asian Languages & Cultures">East Asian Languages & Cultures</option>
					<option value="East Asian Studies">East Asian Studies</option>
					<option value="Economics">Economics</option>
					<option value="Economics, Agricultural and Resource">Economics, Agricultural and Resource</option>
					<option value="Economics, Law &">Economics, Law &</option>
					<option value="Education, Graduate School of">Education, Graduate School of</option>
					<option value="Endocrinology">Endocrinology</option>
					<option value="Energy and Resources Group">Energy and Resources Group</option>
					<option value="Engineering, College of ">Engineering, College of </option>
					<option value="Engineering, Chemical and Biomolecular">Engineering, Chemical and Biomolecular</option>
					<option value="Engineering Science">Engineering Science</option>
					<option value="English">English</option>
					<option value="Environmental Design, College of">Environmental Design, College of</option>
					<option value="Environmental Economics and Policy">Environmental Economics and Policy</option>
					<option value="Environmental Health Sciences">Environmental Health Sciences</option>
					<option value="Environmental Planning, Landscape Architecture and">Environmental Planning, Landscape Architecture and</option>
					<option value="Environmental Science, Policy, and Management">Environmental Science, Policy, and Management</option>
					<option value="Environmental Sciences">Environmental Sciences</option>
					<option value="Environmental Sciences, College of Natural Resources">Environmental Sciences, College of Natural Resources</option>
					<option value="Epidemiology">Epidemiology</option>
					<option value="Ethnic Studies">Ethnic Studies</option>
					<option value="Extension, UC Berkeley">Extension, UC Berkeley</option>
					<option value="Film Studies">Film Studies</option>
					<option value="Folklore">Folklore</option>
					<option value="Forestry and Natural Resources">Forestry and Natural Resources</option>
					<option value="Forestry, Center for">Forestry, Center for</option>
					<option value="French">French</option>
					<option value="Gender and Women's Studies">Gender and Women's Studies</option>
					<option value="Genetics and Plant Biology">Genetics and Plant Biology</option>
					<option value="Geography">Geography</option>
					<option value="Geology & Geophysics">Geology & Geophysics</option>
					<option value="German">German</option>
					<option value="Haas School of Business">Haas School of Business</option>
					<option value="Health and Medical Sciences">Health and Medical Sciences</option>
					<option value="Health Sciences, Environmental">Health Sciences, Environmental</option>
					<option value="Health Services and Policy Analysis">Health Services and Policy Analysis</option>
					<option value="History">History</option>
					<option value="History of Art">History of Art</option>
					<option value="Humanities, College of Letters & Sciences Division">Humanities, College of Letters & Sciences Division</option>
					<option value="Human Rights Interdisciplinary Minor">Human Rights Interdisciplinary Minor</option>
					<option value="Industrial Engineering and Operations Research">Industrial Engineering and Operations Research</option>
					<option value="Infectious Diseases and Immunity">Infectious Diseases and Immunity</option>
					<option value="Information, School of (iSchool)">Information, School of (iSchool)</option>
					<option value="Integrative Biology">Integrative Biology</option>
					<option value="Interdisciplinary Studies">Interdisciplinary Studies</option>
					<option value="International and Area Studies">International and Area Studies</option>
					<option value="Italian Studies">Italian Studies</option>
					<option value="Jewish Studies Program">Jewish Studies Program</option>
					<option value="Journalism, Graduate School of">Journalism, Graduate School of</option>
					<option value="Jurisprudence and Social Policy Program">Jurisprudence and Social Policy Program</option>
					<option value="Landscape Architecture and Environmental Planning">Landscape Architecture and Environmental Planning</option>
					<option value="Latin American Studies">Latin American Studies</option>
					<option value="Law">Law</option>
					<option value="Law & Economics Program">Law & Economics Program</option>
					<option value="Legal Studies">Legal Studies</option>
					<option value="Lesbian, Gay, Bisexual, and Transgender Studies">Lesbian, Gay, Bisexual, and Transgender Studies</option>
					<option value="Letters & Science">Letters & Science</option>
					<option value="Liberal Arts">Liberal Arts</option>
					<option value="Linguistics">Linguistics</option>
					<option value="Logic and the Methodology of Science">Logic and the Methodology of Science</option>
					<option value="Materials Science and Engineering">Materials Science and Engineering</option>
					<option value="Mathematical and Physical Sciences, College of Letters & Science Division">Mathematical and Physical Sciences</option>
					<option value="Mathematics">Mathematics</option>
					<option value="Mechanical Engineering">Mechanical Engineering</option>
					<option value="Media Studies">Media Studies</option>
					<option value="Medical Program (Joint UCB-UCSF)">Medical Program (Joint UCB-UCSF)</option>
					<option value="Mediterranean Archaeology, Ancient History and">Mediterranean Archaeology, Ancient History and</option>
					<option value="Medieval Studies">Medieval Studies</option>
					<option value="Microbiology, Graduate Group in">Microbiology, Graduate Group in</option>
					<option value="Microbial Biology, Plant and">Microbial Biology, Plant and</option>
					<option value="Middle Eastern Studies">Middle Eastern Studies</option>
					<option value="Military Affairs Program">Military Affairs Program</option>
					<option value="Military Science (ROTC)">Military Science (ROTC)</option>
					<option value="Molecular & Biochemical Nutrition">Molecular & Biochemical Nutrition</option>
					<option value="Molecular and Cell Biology">Molecular and Cell Biology</option>
					<option value="Molecular Environmental Biology">Molecular Environmental Biology</option>
					<option value="Molecular Toxicology (Graduate)">Molecular Toxicology (Graduate)</option>
					<option value="Molecular Toxicology (Undergraduate)">Molecular Toxicology (Undergraduate)</option>
					<option value="Music, Department of">Music, Department of</option>
					<option value="Native American Studies">Native American Studies</option>
					<option value="Natural Resources, College of">Natural Resources, College of</option>
					<option value="Naval Science (Navy ROTC)">Naval Science (Navy ROTC)</option>
					<option value="Near Eastern Studies">Near Eastern Studies</option>
					<option value="New Media, Berkeley Center for">New Media, Berkeley Center for</option>
					<option value="Neurobiology">Neurobiology</option>
					<option value="Neuroscience">Neuroscience</option>
					<option value="Nuclear Engineering">Nuclear Engineering</option>
					<option value="Nutrition/Nutritional Sciences">Nutrition/Nutritional Sciences</option>
					<option value="Ocean Engineering">Ocean Engineering</option>
					<option value="Operations Research, Industrial Engineering and">Operations Research, Industrial Engineering and</option>
					<option value="Optometry, School of">Optometry, School of</option>
					<option value="Peace and Conflict Studies">Peace and Conflict Studies</option>
					<option value="Philosophy">Philosophy</option>
					<option value="Physical Education">Physical Education</option>
					<option value="Physics">Physics</option>
					<option value="Plant and Microbial Biology">Plant and Microbial Biology</option>
					<option value="Policy Analysis, Health Services and">Policy Analysis, Health Services and</option>
					<option value="Political Economy">Political Economy</option>
					<option value="Political Science">Political Science</option>
					<option value="Portuguese, Spanish and">Portuguese, Spanish and</option>
					<option value="Psychology">Psychology</option>
					<option value="Public Health">Public Health</option>
					<option value="Public Policy, The Richard & Rhoda Goldman School of">Public Policy, The Richard & Rhoda Goldman School of</option>
					<option value="Range Management">Range Management</option>
					<option value="Religious Studies">Religious Studies</option>
					<option value="Renaissance and Early Modern Studies">Renaissance and Early Modern Studies</option>
					<option value="Rhetoric">Rhetoric</option>
					<option value="ROTC (Air Force)">ROTC (Air Force)</option>
					<option value="ROTC (Army)">ROTC (Army)</option>
					<option value="ROTC (Navy)">ROTC (Navy)</option>
					<option value="Scandinavian">Scandinavian</option>
					<option value="School of Information">School of Information</option>
					<option value="Science and Technology, Applied">Science and Technology, Applied</option>
					<option value="Science and Mathematics Education, Graduate Group (SESAME)">Science and Mathematics Education, Graduate Group (SESAME)</option>
					<option value="Slavic, East European, and Eurasian Studies, Institute of">Slavic, East European, and Eurasian Studies, Institute of</option>
					<option value="Slavic Languages and Literatures">Slavic Languages and Literatures</option>
					<option value="Social Sciences, College of Letters & Science Division">Social Sciences, College of Letters</option>
					<option value="Social Welfare, School of">Social Welfare, School of</option>
					<option value="Society and Environment">Society and Environment</option>
					<option value="Sociology">Sociology</option>
					<option value="Sociology and Demography, Graduate Group in">Sociology and Demography, Graduate Group in</option>
					<option value="South and Southeast Asian Studies">South and Southeast Asian Studies</option>
					<option value="Soviet and Post-Soviet Studies">Soviet and Post-Soviet Studies</option>
					<option value="Spanish and Portuguese">Spanish and Portuguese</option>
					<option value="Statistics">Statistics</option>
					<option value="Theater, Dance & Performance Studies">Theater, Dance & Performance Studies</option>
					<option value="Toxicology, Nutritional Science and">Toxicology, Nutritional Science and</option>
					<option value="Undergraduate and Interdisciplinary Studies">Undergraduate and Interdisciplinary Studies</option>
					<option value="Undergraduate Division, College of Letters & Science">Undergraduate Division, College of Letters & Science</option>
					<option value="Urban Design">Urban Design</option>
					<option value="Vision Science">Vision Science</option>
					<option value="Women's Studies, Gender and">Women's Studies, Gender and</option>

				</select>
			</div>
			<div class="extra_left">
				<label for="some">Start year:</label>
				<select name="some" class="main_select">
					<option value="2014">2014</option>
					<option value="2015">2015</option>
					<option value="2016">2016</option>
					<option value="2017">2017</option>
					<option value="2018">2018</option>
					<option value="2019">2019</option>
					<option value="2020">2020</option>
					<option value="2021">2021</option>
					<option value="2022">2022</option>
					<option value="2023">2023</option>
				</select>
			</div>
			<div class="extra_left">
				<label for="some">Expected end:</label>
				<select name="some" class="main_select">
					<option value="2016">2016</option>
					<option value="2017">2017</option>
					<option value="2018">2018</option>
					<option value="2019">2019</option>
					<option value="2020">2020</option>
					<option value="2021">2021</option>
					<option value="2022">2022</option>
					<option value="2023">2023</option>

				</select>
			</div>
			<button>START</button>
			<a href="#" id="help"></a>
			<div class="line"></div>
			<div id="news">
				<img src="images/1page_title_2.gif" class="title_1" alt="" width="158" height="27" />
				<div class="box">
					<h3>Help a child with clothes</h3>
					Asresa wher abulum molest acenean numa aserant vesti abasy hendrerit mauris. 
					<br  /><span class="link_1 ind_1 indent_right">learn more </span><br  />
					<span class="line"></span>
					<h3>Special Ed school in AZ </h3>
					Consectetuer adipiscing eliraesent vedeas resa wher abulum molest acenean numaese aserant vesti abasy hendrerit mauris. 
					<br  /><span class="link_1 ind_1 indent_right">learn more </span><br  />
				</div>
			</div>

			


		</div>
	</div>
	

	

	
</div>
</body>
</html>